<div class="agendaContainer">
  <ul>
    <li>Setting up the context for Async Programming​</li>
    <li>What is Async Programming and when to use it?​</li>
    <li>Application of Async Programming​</li>
    <li>What is data streams?​</li>
    <li>
      Different ways of handling the Async Operations in Angular
      <ul class="nestedList">
        <li>Callbacks</li>
        <li>Promises</li>
        <li>Async/ Await</li>
        <li>Observables</li>
      </ul>
    </li>
    <li>What is an Observable? Where and what do we use it for?​</li>
    <li>Creating and Using Observable​ (Error Handling)</li>
    <li>Promises vs Observables​</li>
  </ul>
</div>
